.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  /* Background color for the entire page */
}

form {
  background: #5AB2FF;
  /* Background color for the login box */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 1.5rem;
  color: #333;
}

.input-box {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-box input {
  width: calc(100% - 40px);
  padding: 1.00rem;
  padding-left: 200px;
  border: 3px solid #333;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.input-box input:focus {
  border-color: #007bff;
}

.input-box .icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.forgot-password {
  margin-top: 1rem;
}

.forgot-password a {
  color: #020911;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}